@{
    ViewData["Title"] = "ADMIN HOME PAGE";
}
<h1>@ViewData["Title"]</h1>



<div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="AddCategory">Add Category</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="MonetaryDonations">Add Monetary Donations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="AddDisaster">Add Disaster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ViewDisaster">View Disasters</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ListCategories">View Categries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ViewMonitaryDonations">View Monitary Donations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="AddGoodsDonations">Add Goods Donations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ViewGoodsDonations">View Goods Donations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<style>

<style>
    body {
        background: linear-gradient(135deg, mediumpurple, orange);
    }

</style>

